/* Importando fontes */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}
/* -------------------------------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden; 
    color: whitesmoke;
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}
section {
    width: 100%;
    height: 100vh;
    scroll-margin-top: 4.9rem;
}
.buttons {
    padding: 4% 6%;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
}
.bt_preenchido {
    background-color: #d82e2e;
    border-color: #d82e2e;
    color: whitesmoke;
}
.bt_preenchido:hover{
    background-color: transparent;
    border-color: whitesmoke;
    color: whitesmoke;
    transition: 0.3s ease;
}
#container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(210, 210, 210);
}

.nav_lateral {
    width: 17%;
    height: 100vh;
    background-color: #003856;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.653) 0px 5px 15px;
}
.div_logoMundoPonyo {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#imgMundoPonyo {
    width: 70%;
}
#div_bemVindo {
    width: 100%;
    height: 7vh;
    font-size: 110%;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    /* background-color: rgb(0, 33, 52); */
    padding-top: 3%;
}
#containerLinks {
    width: 100%;
    height: 60vh;
}
.div_links {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    gap: 2%;
}
.link {
    width: 70%;
    padding: 6% 6%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 7px;
    font-weight: 600;
    text-indent: 15px;
    /* border-left: 30px solid whitesmoke; */
    
}
.link:hover {
    background-color: rgba(0, 46, 70, 0.861);
    cursor: pointer;
}
#div_sair {
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo_sair {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003451;
    font-weight: 600;
}
.conteudo_sair:hover {
    background-color: #00304a;
    cursor: pointer;
}
.conteudo_dashboard {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */
    color: #004d7a;
    margin-left: 7%;
    overflow: hidden;
}
.corpo_dashboard {
    width: 93%;
    height: 81vh;
    /* background-color:  rgb(0, 27, 46); */
    display: flex;
    flex-direction: column;
}
.div_kpis {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}
.kpi {
    width: 32%;
    height: 100%;
    background-color:whitesmoke;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.titulo_kpi {
    width: 80%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    font-weight: 650;
    text-align: center;
}
.dado_kpi {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-weight: 700;
    margin-top: -4%;
    color: #004d7a;
}
.container_grafico {
    width: 100%;
    height: 80%;
    /* background-color: rgb(0, 36, 56); */
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.div_graficoLinha {
    width: 100%;
    height: 97%;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.div_graficoPizza {
    width: 39.3%;
    height: 97%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.titulo_grafico {
    width: 94%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 115%;
    font-weight: 650;
    margin-left: 4%;
}
.titulo_graficoPizza {
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: end;
    font-size: 115%;
    font-weight: 650;
    text-align: center;
}
.graficoLinha {
    width: 100%;
    height: 90%;
    /* background-color: #d82e2e; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 12%; */
}
.graph {
    width: 100%;
    height: 82%;
    position: relative;
    /* background-color: #00304a; */
    display: flex;
    justify-content: center;
}
#myChartCanvas {
    width: 100%;
    height: 100%;
}

.graficoPizza {
    width: 100%;
    height: 80%;
    /* background-color: #d82e2e; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo_galeria {
    width: 83%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    display: none;
}
.titulo_padrao {
    font-size: 230%;
    font-weight: 700;
    width: 90%;
    /* height: 13%; */
    padding: 2% 0% 1.7% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003e59;
}
.div_select {
    width: 93%;
    display: flex;
    justify-content: start;
}
#slcGaleria {
    width: 100%;
    padding: 0.5% 0.5%;
    margin-bottom: 1%;
    font-family: 'Montserrat';
    font-weight: 600;
    /* text-align: center; */
    background-color: rgba(245, 245, 245, 0.702);
    color: #005d7a;
    border: none;
    border-radius: 5px;
}
#slcGaleria option {
    font-family: 'Montserrat';
    font-weight: 600;
    background-color:  rgb(228, 228, 228);
    color: #636363;
}
#slcGaleria:focus {
    outline: 2px solid #bbbaba;
}
.div_fotos {
    width: 93%;
    /* height: 10rem; */
    gap: 1%;
    /* background-color: #003e59; */
    margin-bottom: 1%;
    /* margin-top: 1%; */
}
.linha_fotos {
    width: 100%;
    height: 40vh;
    border-radius: 15px;
    /* background-color: aqua; */
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}
.linha_fotos a {
    width: 32.5%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.linha_fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(1.1) saturate(1.3) sepia(0);
    transition: 0.5s ease-out;
}
.linha_fotos img:hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(1.1) saturate(1.3) sepia(0);
    transform: scale(1.03);
    transition: 0.5s ease;
}
.div_arts {
    width: 93%;
    gap: 1%;
    margin-bottom: 1%;
}
.div_arts .linha_fotos img {
    filter: contrast(1.1) saturate(2) sepia(0) ;

}
.conteudo_jogo {
    width: 83%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.conteudo_ranking {
    width: 83%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.titulo_conteudo {
    font-size: 230%;
    font-weight: 700;
    width: 90%;
    height: 13vh;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003e59;
    /* background-color: #005957; */
    
}
.game_board {
    width: 90%;
    height: 75vh;
    margin-top: -6%;
    background-color: rgb(250, 229, 215);
    position: relative;
    overflow: hidden;
    border-bottom: 20px solid #005957;
    z-index: 5;
    top: 10%;
    overflow: hidden;
    border-radius: 8px;
}
#gradient-cenario-bottom {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgb(0, 55, 63), transparent);
    z-index: 1;
}
#gradient-cenario-top {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(4, 54, 66, 0.7), transparent);
    z-index: 1;
}
.cenario {
    position: absolute;
    width: 120%;
    height: 80vh;
    left: -10%;
}
.ponyo {
    width: 8%;
    position: absolute;
    bottom: 0;
    z-index: 3;
}
.jump {
    animation: pulo-ponyo-animation 550ms ease-out;
}
.clouds {
    position: absolute;
    width: 15%;
    animation: clouds-animation 17s infinite linear;
    margin-top: 7%;
}
.obstaculo {
    position: absolute;
    bottom: 0;
    width: 20%;
    height: 25%;
    z-index: 4;
    animation: obstaculo-animation 2.5s infinite linear;
    display: none;
}
#div_btIniciar {
    position: absolute;
    top: 45%;
    left: 43%;
}
.buttons_gameOver {
    gap: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.btIniciar {
    padding: 20% 30%;
    font-size: 150%;
}
.div_indicadores_jogo {
    position: absolute;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #d82e2e; */
}
#div_tempo {
    padding-left: 2%;
}
#div_pontuacao {
    padding-right: 2%;
}
.game_over {
    width: 74.7%;
    height: 78.2vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    border-radius: 8px;
    z-index: 10;
    /* top: 17%; */
    display: none;
}
#titulo_gameOver {
    font-size: 500%;
    font-weight: 800;
    padding-bottom: 2%;
}
.score {
    font-size: 250%;
    font-weight: 700;
    padding-bottom: 2%;
}
.recorde {
    font-size: 140%;
    font-weight: 700;
    padding-bottom: 3%;
}
.btReiniciar {
    padding: 1% 2%;
    font-size: 150%;
}
.buttons_gameOver {
    display: flex;
    flex-direction: row;
}
@keyframes obstaculo-animation {
    0% {
        right: -20%;
        bottom: -13%;
    }
    50% {
        right: 80%;
        bottom: 0;
    }
    100% {
        right: 150%;
        bottom: 0;
    }
}
@keyframes pulo-ponyo-animation {
    0% {
        bottom: 0;
    }
    25% {
        bottom: 35%;
    }
    50% {
        bottom: 35%;
    }
    65% {
        bottom: 30%;
    }
    80% {
        bottom: 20%;
    }
    100% {
        bottom: 0;
    }
}
@keyframes clouds-animation {
    from {
        right: -20%;
    }
    to {
        right: 100%;
    }
}