#jogo {
    background-color: rgb(1, 23, 31);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 17, 28);
}
.nav_lateral {
    width: 17%;
    height: 100vh;
    background-color: rgb(0, 33, 48);
}
.div_jogo {
    width: 83%;
    height: 100vh;
    /* background-color: #2ed86c; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.game_board {
    width: 90%;
    height: 75vh;
    margin-top: -6%;
    background-color: rgb(250, 229, 215);
    position: relative;
    overflow: hidden;
    border-bottom: 20px solid #005957;
    z-index: 5;
    top: 10%;
    overflow: hidden;
}
#gradient-cenario-bottom {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgb(0, 55, 63), transparent);
    z-index: 1;
}
#gradient-cenario-top {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(4, 54, 66, 0.7), transparent);
    z-index: 1;
}
.cenario {
    position: absolute;
    width: 120%;
    height: 80vh;
    left: -10%;
}
.ponyo {
    width: 7.5%;
    position: absolute;
    bottom: 0;
    z-index: 3;
}
.jump {
    animation: pulo-ponyo-animation 550ms ease-out;
}
.clouds {
    position: absolute;
    width: 15%;
    animation: clouds-animation 17s infinite linear;
    margin-top: 7%;
}
.obstaculo {
    position: absolute;
    bottom: 0;
    width: 15%;
    z-index: 4;
    animation: obstaculo-animation 2s infinite linear;
    display: none;
}
#div_btIniciar {
    position: absolute;
    top: 45%;
    left: 43%;
}
.btIniciar {
    padding: 20% 30%;
    font-size: 150%;
}
.div_indicadores_jogo {
    position: absolute;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #d82e2e; */
}
#div_tempo {
    padding-left: 2%;
}
#div_pontuacao {
    padding-right: 2%;
}
.game_over {
    width: 74.7%;
    height: 78.2vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    /* top: 17%; */
    display: none;
}
.game_over h1 {
    font-size: 350%;
}
.btReiniciar {
    padding: 1% 2%;
    font-size: 150%;
}
.buttons_gameOver {
    display: flex;
    flex-direction: row;
}
@keyframes obstaculo-animation {
    from {
        right: -10%;
        bottom: -13%;
    }
    to {
        right: 100%;
        bottom: 0;
    }
}
@keyframes pulo-ponyo-animation {
    0% {
        bottom: 0;
    }
    25% {
        bottom: 35%;
    }
    50% {
        bottom: 35%;
    }
    65% {
        bottom: 30%;
    }
    80% {
        bottom: 20%;
    }
    100% {
        bottom: 0;
    }
}
@keyframes clouds-animation {
    from {
        right: -20%;
    }
    to {
        right: 100%;
    }
}