/* Importando fontes */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}
/* ------------------------------------------------------------------------------------------- */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
    color: whitesmoke;
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}
section {
    width: 100%;
    height: 100vh;
    scroll-margin-top: 4.9rem;
}
#inicio {
    background-color: rgb(35, 122, 154);
}
.video-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bg-video {
    width: 110%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
#gradient-dark-top {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(1, 35, 57, 0.761), transparent);
    z-index: 1;
}
#navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 12%;
    position: fixed;
    z-index: 10;
}
#nav_logo {
    width: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nav_logo img {
    width: 100%;
}
#nav_links {
    width: 57%;
}
#nav_links ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5.5%;
    margin: 0;
    padding: 0;
}
#nav_links a {
    text-decoration: none;
    color: whitesmoke;
}
#nav_links li a {
    position: relative;
    padding-bottom: 7px;
}
#nav_links li a:after {
    content: '';
    position: absolute;
    width: 0%;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: whitesmoke;
    transition: width 0.3s ease;
    border-radius: 5px;
}
#nav_links li a:hover::after,
#nav-links li a:focus::after {
    width: 100%;
}
#nav_links li a:focus {
    color: white;
}
#nav_buttons {
    width: 15%;
    display: flex;
    justify-content: center;
    gap: 2.5%;
}
.buttons {
    padding: 4% 6%;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
}
.bt_preenchido {
    background-color: #d82e2e;
    border-color: #d82e2e;
    color: whitesmoke;
}
.bt_contorno {
    background-color: transparent;
    border-color: whitesmoke;
    color: whitesmoke;
}
.bt_preenchido:hover{
    background-color: transparent;
    border-color: whitesmoke;
    color: whitesmoke;
    transition: 0.3s ease;
}
.bt_contorno:hover{
    background-color: #d82e2e;
    border-color: #d82e2e;
    color: whitesmoke;
    transition: 0.2s ease;
}
.frase_principal {
    position: absolute;
    width: 50%;
    height: 100vh;
    /* background-color: #d82e2e; */
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    /* justify-content: center; */
    /* align-items: center; */
    padding-left: 3%;

}
.div_logo {
    width: 70%;
    /* height: 30%; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: aqua; */
    margin-left: 10%;
    margin-top: 17%;
}
.div_frase {
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(0, 184, 184); */
    font-size: 550%;
    font-weight: 800;
    margin-left: 10%;
    margin-top: 7%;
    line-height: 1.1;
}
.logoPonyo {
    width: 80%;
    /* height: 100%; */
}
.bt_banner {
    /* background-color: #d82e2e; */
    padding-left: 10%;
    padding-top: 10%;
}
#btMergulhar {
    border-radius: 50px;
    padding: 2% 4%;
    font-size: 150%;
    box-shadow: rgba(0, 46, 77, 0.135) 0px -50px 36px -28px inset;
}
#btMergulhar:hover {
    box-shadow: none;
    background-color: #d82e2e;
    border-color: #d82e2e;
    color: whitesmoke;
    transition: 0.2s ease;
}
/*NAVBAR - SCROLL*/
#navbar.scrolled {
    background-color: rgba(0, 65, 95, 0.298);
    transition: 0.5s ease;
    backdrop-filter: blur(8px);
}
#sobre_filme {
    width: 100%;
    height: 100vh;
    scroll-margin-top: 4rem;
    /* color: rgb(0, 41, 56); */
    background-color: rgb(0, 76, 103);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.div_traco {
    width: 85%;
    height: 1%;
    /* background-color: #00394f; */
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
}
.traco {
    width: 17%;
    height: 100%;
    background-color: #d82e2e;
}
.container_conteudo {
    /* background-color: #00425c; */
    width: 85%;
    height: 78%;
}
.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color:  #014059; */
    font-size: 250%;
    font-weight: 800;
    padding-top: 0.5%;
    padding-bottom: 2%;
}
.div_conteudo {
    width: 100%;
    height: 89%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 89%;
}
.div_conteudoEsquerda {
    width: 49.5%;
    height: 100%;
    /* background-color: #d82e2e; */
}
.div_conteudoEsquerda img {
    height: 100%;
}
.video_container {
    width: 100%;
    height: 97%;
    /* background-color: aqua; */
}
.videoSectionSobre {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(1.3);
}
.div_conteudoDireita {
    width: 49%;
    height: 100%;
    text-align: justify;
    /* background-color: #b11717; */
}
.div_txtInfoFilme {
    width: 100%;
    height: 27%;
    background-color: #004261;
}
#personagens {
    background-color: rgb(0, 68, 93);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#hayao_miyazaki {
    scroll-margin-top: 4rem;
    background-color: rgb(9, 55, 72);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.div_tracoMiyazaki {
    width: 85%;
    height: 1%;
    /* background-color: #00394f; */
    margin-top: 2.5%;
    display: flex;
    justify-content: start;
}
.tracoMiyazaki {
    width: 17%;
    height: 100%;
    background-color: #d82e2e;
}

.container_conteudoMiyazaki {
    /* background-color: #00425c; */
    width: 85%;
    height: 77%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}
.tituloMiyazaki {
    width: 100%;
    display: flex;
    justify-content: start;
    /* background-color:  #014059; */
    font-size: 250%;
    font-weight: 800;
    padding-top: 0.5%;
    padding-bottom: 2%;
}
.div_conteudoMiyazaki {
    width: 100%;
    height: 89%;
    /* background-color: rgb(8, 164, 164);  */
}
.div_ghibli {
    width: 100%;
    /* background-color: beige; */
    display: flex;
    justify-content: space-between;
}
.div_textoGhibli {
    /* background-color: #d82e2e; */
    width: 45%;
}
.div_conteudoEsquerdaMiyazaki {
    width: 63%;
    height: 99%;
    /* background-color: #d82e2e; */
    text-align: justify;
}
.div_imgGhibli {
    width: 52%;
    height: 120%;
    /* background-color: rgb(0, 0, 0); */
}
.div_imgGhibli img {
    width: 100%;
    object-fit: cover;
}

.div_conteudoDireitaMiyazaki {
    width: 35%;
    height: 100%;
    text-align: justify;
    background-color: #d82e2e;
    /* background-color: #b11717; */
}
.img_miyazaki {
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/miyazaki.jpg');
    background-size: cover;
    background-position-x: right;
}

#artesMiyazaki {
    scroll-margin-top: 4rem;
    background-color: rgb(0, 44, 59);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

/* #reflexao {
    background-color: rgb(0, 53, 74);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_textReflexao {
    position: absolute;
    width: 60%;
    font-size: 150%;
    text-align: center;
    z-index: 3;
    font-style: italic;
}
.camadaBlack {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 2;
}
.video_containerReflexao {
    width: 120%;
    height: 100%;
    filter: saturate(1.3);
    z-index: 1;
}
.videoSectionReflexao {
    width: 85%;
    height: 100%;
    object-fit: cover;
} */

#galeria {
    height: 100vh;
    background-color: rgb(0, 38, 52);
    scroll-margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.div_mensagemGaleria {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
    font-size: 110%;
}
.div_conteudoGaleria {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    filter: saturate(1.2);
}
.div_galeria1 {
    width: 100%;
    height: 49%;
    display: flex;
    justify-content: space-between;
}
.fotoSolo {
    width: 52%;
    height: 100%;
    background-color: aliceblue;
}
.fotoSolo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fotoQuarteto {
    width: 47%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.div_fotoDuo {
    width: 49%;
    height: 100%;
}
.fotoQuarteto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.div_galeria2 {
    width: 100%;
    height: 49%;
    display: flex;
    justify-content: space-between;
}
.div_conteudoGaleria img {
    transition: 0.3s ease-in-out;
}
.div_conteudoGaleria img:hover {
    transform: scale(1.015);
}

#galeriaPart2 {
    margin-top: -6.9%;
    height: 100vh;
    background-color: rgb(0, 38, 52);
    scroll-margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
#btVermais {
    margin-top: -2%;
    padding: 1% 2%;
    border-radius: 50px;
    font-size: 105%;
}
#jogo {
    margin-top: -5%;
    height: 80vh;
    background-color: rgb(0, 28, 38);
    scroll-margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 10%;
}
.div_textoJogo {
    font-size: 270%;
    font-weight: 600;
    text-align: center;
    margin-right: 5%;
    width: 60%;
}
.div_textoJogo span {
    font-size: 210%;
    font-weight: 700;
}
.div_tracoJogo {
    width: 85%;
    height: 2%;
    /* background-color: #00394f; */
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 7%;
    display: flex;
    justify-content: center;
}
.tracoJogo {
    width: 50%;
    height: 100%;
    background-color: #d82e2e;
}
.fotoJogo {
    width: 70%;
    height: 95%;
}
.fotoJogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
#desenvolvedor {
    scroll-margin-top: 4rem;
    background-color: rgb(0, 19, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.container_conteudoDev {
    /* background-color: #00425c; */
    width: 85%;
    height: 77%;
}
.div_conteudoDev {
    width: 100%;
    height: 89%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    gap: 2%;
    margin-top: 2%;
}
.div_conteudoEsquerdaDev {
    width: 33%;
    height: 100%;
    /* background-color: #d82e2e; */
}
/* .div_conteudoEsquerdaDev img {
    height: 100%;
} */
.img_container {
    width: 100%;
    height: 97%;
    /* border: 5px solid whitesmoke; */
    /* background-color: aqua; */
}
.img_container {
    background-image: url('../assets/img/Andre.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-position: top;
    filter: saturate(1.5);
    transition: background-image 0.3s ease-out;
}
.img_container:hover {
    background-image: url('../assets/img/andrezinho.jpeg');
    width: 100%;
    height: 100%;
    background-size: cover;
    object-position: top;
    filter: saturate(1.3);
}
.div_conteudoDireitaDev {
    width: 55%;
    height: 100%;
    text-align: justify;
    /* background-color: #b11717; */
}
.div_tituloNomeDev {
    width: 100%;
    padding-bottom: 2%;
    font-size: 250%;
    font-weight: 600;
    display: flex;
    align-items: start;
}

